<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dunno.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sashimii"
        android:label="@string/nom_application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.menu_fonction.Favoris.FavoriteActivity"
            android:label="@string/main_title_favoris"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.menu_fonction.MonFrigo.RecipeFromIngredient"
            android:screenOrientation="portrait"
            android:label="@string/main_title_frigo" />
        <activity
            android:name=".ui.menu_fonction.MonFrigo.AddIngredient"
            android:screenOrientation="portrait"
            android:label="Food Now!  -  Mon Frigo" />
        <activity
            android:name=".ui.menu_fonction.MonFrigo.MonFrigoType"
            android:screenOrientation="portrait"
            android:label="@string/main_title_frigo" />
        <activity
            android:name=".ui.menu_fonction.MonFrigo.MonFrigoTypeChoice"
            android:screenOrientation="portrait"
            android:label="@string/main_title_frigo" />
        <activity
            android:name=".ui.menu_fonction.Account.AccountModifyActivity"
            android:screenOrientation="portrait"
            android:label="@string/main_title_account" />
        <activity
            android:name=".ui.menu_fonction.Account.AccountActivity"
            android:screenOrientation="portrait"
            android:label="@string/main_title_account" />
        <activity
            android:name=".ui.menu_fonction.Roucette.RoucetteActivity"
            android:screenOrientation="portrait"
            android:label="@string/main_title_roucette" />
        <activity android:name=".ui.menu_fonction.PrintRecipe.PrintRecipe"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.menu_fonction.LesRecettes.ListeRecetteFromType"
            android:screenOrientation="portrait"
            android:label="@string/main_title_recettes" />
        <activity
            android:name=".ui.loginregister.RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/main_title_inscription" />
        <activity
            android:name=".ui.loginregister.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/login_login_bouton" />
        <activity
            android:name=".ui.menu.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/nom_application"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.menu_fonction.LesRecettes.ChoixTypeRecette"
            android:screenOrientation="portrait"
            android:label="@string/main_title_recettes" />
        <activity
            android:name=".ui.menu_fonction.ChefSashimi.ChefSashimi"
            android:screenOrientation="portrait"
            android:label="@string/main_title_conseil" />
    </application>

</manifest>